body{
    padding-top: 70px;
    background-color: rgb(233, 255, 214);
}
.jumbotron{
    color: #346F04;
    background-color: #B4E78A;
}
.navbar{
    background-color: #51921B;
}
.img-thumbnail{
    /* background-color: #B4E78A; */
    border-color: #51921B;
    margin-bottom: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(233, 255, 214);
    font-weight: bold;
}
.navbar-dark .navbar-brand {
    color: rgb(233, 255, 214);
    font-weight: bold;
}